//tipografia/
$font-logo: "Racing Sans One", sans-serif;


//Paleta de Colores Modificada/
$primary: #0c4a4b;
$secondary: #174d34;
$success: #9DDE8B;
$info: #eaeedf;
$warning: #5E1675;
$danger: #EE4266;
$light: #FFAF61;
$dark: #0e3f80;
